html, body {
    scroll-behavior: smooth;
    background-color: #000000;
    background-size: cover;
    margin: auto;
    padding: auto;
  }
   /* :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
  } */

   /*custom font used*/
@font-face {
    font-family: 'Coolvetica';
    src: url('fonts/mycustomfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
    /*headers flexboxes*/
  h1 {
    width: 100%;
    color: #ffffff;
    font-size: 9vw;
    font-family: 'Sedgwick Ave Display', cursive;    font-weight: 500;
    letter-spacing: -2px;
    margin-top: 2vw;
    margin-bottom: -3.5vw;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
  }

  @media screen and (max-width: 601px) {
    .h1 {
    font-size: 13vw;
    letter-spacing: -2px;
    margin-top: 6vw;
    align-items: center;
  }
  }

  h2 {
    width: 100%;
    font-size: 2.5vw;
    color: #f7e7c0;
    font-family: 'Coolvetica';
    padding-bottom: 2vw;
    font-weight: 80;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    padding-right: 0;
    font-weight: 10;
    right: 0;
    z-index: 1;
    position: relative;
  }

  @media screen and (max-width: 601px) {
    .h2 {
    font-size: 6vw;
    letter-spacing: 0.6px;
    margin-top: -1vw;
  }
  }

  /*button*/
  button{
  border-radius: 33px;
  background: #000000;
  color: #ffffff;
  border-color: #ffffff;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 11px;
  z-index: 2;
  height: 3vw;
}

@media screen and (max-width: 601px) {
  button{
   justify-content: center;
   height: 9vw;
   padding-left: 9vw;
   padding-right: 9vw;
  }
}

  /*dropdown list*/
  .dropdown{
    font-family: 'Space Grotesk', sans-serif;
  z-index: 2;
  color: #ffffff;
}

@media screen and (max-width: 601px) {
  .dropdown{
   display:none;
  }
}

.list{
  font-family: 'Space Grotesk', sans-serif;
  width: 20%;
  border-radius: 33px;
  border: none;
  color: #000000;
  padding: 7px;
  border-style: solid;
  border-color: rgb(255, 255, 255); 
  background-color: #000000;
  stroke-width: 12px;
  z-index: 2;
}

@media screen and (max-width: 601px) {
  .list{
   display:none;
  }
}

  /*menu bar section*/
  header{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 2.5vw;
  z-index: 2;
  margin-top: -3vw;
  margin-bottom: -2vw;
}


img {
	width: 66vw;
    height: 33vw;
    border-radius: 22px;
    object-fit: cover; 
}

@media screen and (max-width: 601px) {
    img{
        width: 50%;
        border-radius: 15px;
        object-fit: cover; 
        background-size: cover;
    }
  }


.white-box {
    width: 33vw;
    height: 32vw;
    border-radius: 22px;
    background-color: #ffffff;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
    padding-top: 1vw;
}
