html, body {
    scroll-behavior: smooth;
    background-color: #ffffff;
    background-size: cover;
    margin: auto;
    padding: auto;
    cursor: url(https://d2w9rnfcy7mm78.cloudfront.net/21509281/original_ecece4e416f1a29fac0fbdda70f07084.png?1682216707?bc=0), auto;
  }

    /*headers flexboxes*/
  h1 {
    width: 100%;
    color: #000000;
    font-size: 9vw;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 500;
    margin-top: -2vw;
    margin-bottom: -3.5vw;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
  }

  @media screen and (max-width: 601px) {
    .h1 {
    font-size: 13vw;
    letter-spacing: -2px;
    margin-top: 6vw;
    align-items: center;
  }
  }

  h2 {
    width: 100%;
    font-size: 2vw;
    color:  #9a9a9a;
    letter-spacing: 0;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 2vw;
    display: flex;
    justify-content: center;
    padding-right: 0;
    font-weight: 500;
    right: 0;
    z-index: 1;
    position: relative;
  }

  @media screen and (max-width: 601px) {
    .h2 {
    font-size: 6vw;
    letter-spacing: 0.6px;
    margin-top: -1vw;
  }
  }

  /*button*/
  button{
  border-radius: 33px;
  background: #ffffff;
  color: #000000;
  border-color: #000000;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 11px;
  z-index: 2;
  height: 3vw;
}

@media screen and (max-width: 601px) {
  button{
   justify-content: center;
   height: 9vw;
   padding-left: 9vw;
   padding-right: 9vw;
  }
}

.list{
  font-family: 'Space Grotesk', sans-serif;
  width: 20%;
  border-radius: 33px;
  border: none;
  color: #000000;
  padding: 7px;
  border-style: solid;
  border-color: rgb(255, 255, 255); 
  background-color: #000000;
  stroke-width: 12px;
  z-index: 2;
}

@media screen and (max-width: 601px) {
  .list{
   display:none;
  }
}

  /*menu bar section*/
  header{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 2.5vw;
  z-index: 2;
  margin-top: -3vw;
  margin-bottom: -2vw;
}

   /*pictures within the slider*/
.pictures {
  filter:grayscale();
    transition:  background-color 0.5s;
    height: 35vw;
    object-fit: cover; 
    box-shadow:5px 5px rgb(0, 0, 0);
  }

  .pictures:hover {
    filter:saturate();
    box-shadow:5px 5px rgb(73, 233, 20);
    cursor: default;
    }


.orange {
  height: 35vw;
  width: 33vw;
  background-color: #f38232;
  overflow: hidden;
  border-radius: 0px;
  box-shadow:5px 5px rgb(0, 0, 0);
  margin-top: -3px;
}
.orange:hover {
  background-color: #ffffff;
  box-shadow:5px 5px rgb(73, 233, 20);
  cursor: default;
}
@media screen and (max-width: 601px) {
  .orange{
    display: none;    }
}


    /*logo*/
    .peach {
      width: 2vw;
      height: 2vw;
      padding-left: 9px;
      padding-top: 2vw;
      position: -webkit-sticky; /* Safari */
      position: sticky;
    }
@media screen and (max-width: 601px) {
  .peach {
    width: 7vw;
    margin-top: -3vw;
    display: flex;
    padding-left: 47%;
  height: 7vw;
  padding-top:6vw;
  justify-content: center;
}
}


   /*left margin line*/
   .line1 {
    border-left: 2px solid rgb(0, 0, 0);
    height: 100%;
    position: absolute;
    left: 3.5vw;
    top: 0;
    z-index: 2;
  }
  @media screen and (max-width: 601px) {
    .line1{
      border-left: 1px solid rgb(0, 0, 0);
    height: 200%;
    left: 7vw;
    position: absolute;
    top: 0;
    z-index: 2;
    }
  }
  
     /*right margin line*/
.line2 {
    border-left: 2px solid rgb(0, 0, 0);
    height: 100%;
    position: absolute;
    right: 3.5vw;
    top: 0;
    z-index: 2;
  }
  @media screen and (max-width: 601px) {
    .line2{
      border-left: 1px solid rgb(0, 0, 0);
    height: 100%;
    right: 7vw;
    position: absolute;
    top: 0;
    z-index: 2;
    }
  }
  

   /*slider container bg*/
.slider-container {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top:2vw;
  display: none;
  padding-left: 6vw;
}

.slider {
  width: 100%;
  max-width: 88vw;
  height: 39vw;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
  background-color: rgb(255, 255, 255);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  max-width: 88vw;
  height: 39vw;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: white;
  transform-origin: center center;
  transform: scale(1);
}

.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 2%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 2%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid rgb(43, 230, 6);
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin: 0 10px 0 10px;
}

.title {
  font-size: 3vw;
  width: 29vw;
  font-family: 'Manrope', sans-serif;
  line-height: 3.2vw;
  padding-left: 3vw;
  padding-top: 4.5vw;
  padding-bottom: 2vw;
  letter-spacing: -1px;
  font-weight: 500;
  margin-top: -0.5vw;
}

.sub-title {
  font-size: 2vw;
  font-family: 'Manrope', sans-serif;
  color: #000000;
  padding-left: 3vw;
  padding-bottom: 1vw;
  margin-top: -0.5vw;
}


.paragraph {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  padding-left: 3vw;
    margin-top: 1vw;
    width: 26vw;
}


top-margin {
  width: 100%;
}
@media screen and (min-width: 601px) {
  .top-margin {
    display: none;
}
}


  .mobile-title{
    font-size: 30px;
  font-family: 'Manrope', sans-serif;
  line-height: 9vw;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: -1px;
  font-weight: 500;
  padding-left: 10vw;
  margin-top: 8vw;
  width:80%;
  }
  @media screen and (min-width: 601px) {
    .mobile-title{
     display:none;
    }
  }


  .mobile-sub-title{
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    color: #000000;
    padding-bottom: 0;
    padding-left: 10vw;
    margin-top: 4vw;
    width:80%;
  }
  @media screen and (min-width: 601px) {
    .mobile-sub-title{
     display:none;
    }
  }


  .mobile-paragraph{
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    padding-left: 10vw;
    padding-bottom: 9vw;
      margin-top: 0;
      width:80%;
  }
  @media screen and (min-width: 601px) {
    .mobile-paragraph{
     display:none;
    }
  }

    .mobile-pictures{
      height: 100%;
      width: 80%;
      height: 100%;
      object-fit: contain;
      box-shadow:3px 3px rgb(73, 233, 20);
      justify-content: center;
      display: flex;
      align-items: center;
      padding-left: 10vw;
      margin-top: -7vw;
     }
     @media screen and (min-width: 601px) {
      .mobile-pictures{
       display:none;
      }
    }
  
    #dropdown {
      background-color: #ffffff;
      height: 3vw;
      width: 20%;
      border: 2px solid #b2b2b2;
      border-radius: 22px;
      font-size: 16px;
      padding: 8px 16px;
      font-family: 'Manrope', sans-serif;
      z-index: 111;
    color: #b2b2b2;
    display: flex;
    justify-content: center;
    cursor: default;
    }
    
    #dropdown option {
      background-color: #ffffff;
      border: 2px solid #b2b2b2;
    }
    
    .banner {
      display: flex;
      justify-content: center;
      height: 3vw;
      cursor: default;
      margin-top: -2vw;
    }

    label.dropdown {
      font-family: 'Manrope', sans-serif;
      padding-top: 0.7vw;
      color: #b2b2b2;;
    }

    select {
      color: #58ea1e;
    }


    .search-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      width: 30%;
        }
    
    #search-input {
      padding: 10px;
      height: 1.5vw;
      width: 90%;
      border: 2px solid #b2b2b2;
      border-radius: 32px;
    }
    
    #search-btn {
      background-color: #ffffff;
      border: 2px solid #b2b2b2;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 11px;
      cursor: pointer;
    }
    
    fa-search:before {
      content: "\f002";
    }