html, body {
    scroll-behavior: smooth;
    background-color: #000000;
    background-size: cover;
    background-image: "https://d2w9rnfcy7mm78.cloudfront.net/21303522/original_4e90182f13f1bb4606ba9887de5d8c14.jpg?1680983343?bc=0";
    margin: auto;
    padding: auto;
  }
   /* :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
  } */

   /*custom font used*/
@font-face {
    font-family: 'Coolvetica';
    src: url('fonts/mycustomfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
    /*headers flexboxes*/
  h1 {
    width: 100%;
    color: #70a0c7;
    font-size: 9vw;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    letter-spacing: -8px;
    margin-top: 1vw;
    margin-bottom: -1vw;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
  }

  @media screen and (max-width: 601px) {
    .h1 {
    font-size: 13vw;
    letter-spacing: -2px;
    margin-top: 6vw;
    align-items: center;
  }
  }


  h2 {
    width: 100%;
    font-size:3vw;
    color: #f7e7c0;
    font-family: 'Coolvetica';
    padding-bottom: 2vw;
    font-weight: 80;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    padding-right: 0;
    font-weight: 10;
    right: 0;
    z-index: 1;
    position: relative;
  }

  @media screen and (max-width: 601px) {
    .h2 {
    font-size: 6vw;
    letter-spacing: 0.6px;
    margin-top: -1vw;
  }
  }

  /*button*/
  .button{
  border-radius: 22px;
  background: #000000;
  color: #ffffff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 11px;
  z-index: 2;
}

@media screen and (max-width: 601px) {
  .button{
   justify-content: center;
  }
}

  /*dropdown list*/
  .dropdown{
  font-family: 'Manrope', sans-serif;
  z-index: 2;
  color: #ffffff;
}

@media screen and (max-width: 601px) {
  .dropdown{
   display:none;
  }
}

.list{
  font-family: 'Manrope', sans-serif;
  width: 20%;
  border-radius: 11px;
  border: none;
  color: #000000;
  padding: 7px;
  padding-left: 40px;
  padding-right: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 255); 
  background-color: #000000;
  stroke-width: 12px;
  z-index: 2;
}

@media screen and (max-width: 601px) {
  .list{
   display:none;
  }
}

  /*menu bar section*/
  section{
  display: flex;
  justify-content: center;
  height: 2.5vw;
  z-index: 2;
  margin-top: -5vw;
  position: fixed;
  padding-left: 33vw;
}
  
/*responsive row*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* four columns */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(1);
  border-radius: 22px;
  cursor:crosshair;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* responsive column for mobile */
@media screen and (max-width: 601px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}
