html, body {
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
  }
  
  /*constant for all body*/
body {
    margin: auto;
    padding: auto;
   }

   /* :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
  } */
   
   /*custom font used*/
@font-face {
    font-family: 'Coolvetica';
    src: url('fonts/mycustomfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
    /*header & smiley flexbox*/
  .title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3vw;
    margin: -2vw;
    margin-left: -5vw;
  }

  h1 {
    width: 100%;
    font-size: 9vw;
    font-family:'Coolvetica';
    letter-spacing: 7px;
    margin-top: -0.5px;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 601px) {
    .h1 {
    font-size: 13vw;
    letter-spacing: 0.6px;
    padding-left: 20px;
    margin-top: 5vw;
  }
  }

  h2 {
    width: 100%;
    font-size: 3vw;
    font-family: 'Manrope', sans-serif;
    font-weight: 80;
    letter-spacing: 1px;
    margin-top: -6vw;
    display: flex;
    justify-content: center;
    padding-right: 0;
    right: 0;
  }

  @media screen and (max-width: 601px) {
    .h2 {
    font-size: 6vw;
    letter-spacing: 0.6px;
    padding-left: 20px;
    margin-top: -9vw;
  }
  }

  /*search bar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

@media screen and (max-width: 601px) {
  .search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  font-family: 'Manrope', sans-serif;
  color: #1947ff;
  font-size: 15px;
  border: 1px solid #000000;
  border-right: none;
  padding: 10px;
  padding-left: 2vw;
  height: 1.5vw;
  border-radius: 3vw 0 0 3vw;
  outline: none;
}

@media screen and (max-width: 601px) {
  .searchTerm {
  font-size: 1.8vw;
  border: 1.3px solid #000000;
  border-right: none;
}
}

.searchTerm:focus{
  color: #ff00c3;
}

.searchButton {
  width: 3vw;
  height: 2.5vw;
  border: 1px solid #000000;
  background: #1947ff;
  text-align: center;
  color: #fff;
  border-radius: 3vw;
  cursor: pointer;
}

@media screen and (max-width: 601px) {
  .searchButton {
    width: 11vw;
    height: 4vw;
    border: 2px solid #000000;
    background: #1947ff;
    text-align: center;
    color: #fff;
    border-radius: 3vw;
    cursor: pointer;
  }
}

.wrap{
  width: 33vw;
}

@media screen and (max-width: 601px) {
  .wrap{
    width: 80vw;
  }
}

.button{
  border-radius: 35px;
  background: #ffffff;
  color: #000000;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 11px;
}

@media screen and (max-width: 601px) {
  .wrap{
    width: 80vw;
  }
}

.dropdown{
  font-family: 'Manrope', sans-serif;
}

.list{
  font-family: 'Manrope', sans-serif;
  border-radius: 30px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

section{
  display: flex;
  justify-content: center;
  height: 3vw;
}

.container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 800px;
  transform: rotate(-7deg);
}

@media screen and (max-width: 601px) {
  .container{
   display: none;
  }
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 90s infinite linear reverse;
}

.carousel__face { 
  position: absolute;
  width: 315px;
  height: 200px;
  top: 20px;
  left: 0px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(212, 136, 253, 0.54);
  display: flex;
}

span {
  margin: auto;
  color: #005eff;
  font-size: 1rem;
  font-family: 'Manrope', sans-serif;
}


.carousel__face:nth-child(1) {
  background-image:repeating-radial-gradient();
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image:repeating-radial-gradient();
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image:repeating-radial-gradient();
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image:repeating-radial-gradient();
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image:repeating-radial-gradient();
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image:repeating-radial-gradient();
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image:repeating-radial-gradient();
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image:repeating-radial-gradient();
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image:repeating-radial-gradient();
  transform: rotateY(320deg) translateZ(430px); }

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

canvas {
  margin: auto;
}
