html, body {
    scroll-behavior: smooth;
    background-color: #ffffff;
    background-size: cover;
    margin: auto;
    padding: auto;
    overflow: hidden;
    cursor: url(https://d2w9rnfcy7mm78.cloudfront.net/21509281/original_ecece4e416f1a29fac0fbdda70f07084.png?1682216707?bc=0), auto;
  }
  
   /*headers flexboxes*/
   h1 {
    width: 100%;
    color: #000000;
    font-size: 9vw;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 500;
    margin-top: -0.5vw;
    margin-bottom: -1.5vw;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
  }

  @media screen and (max-width: 601px) {
    .h1 {
    font-size: 13vw;
    letter-spacing: -2px;
    margin-top: 6vw;
    align-items: center;
  }
  }

  h2 {
    width: 100%;
    font-size: 2vw;
    color:  #9a9a9a;
    letter-spacing: 0;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 2vw;
    display: flex;
    justify-content: center;
    padding-right: 0;
    font-weight: 500;
    right: 0;
    z-index: 1;
    position: relative;
  }

  @media screen and (max-width: 601px) {
    .h2 {
    font-size: 6vw;
    letter-spacing: 0.6px;
    margin-top: -1vw;
  }
  }

   /*click to enter button section*/
 /* section{
  display: flex;
  justify-content: center;
  height: 2.5vw;
  z-index: 2;
} */
/*Click to enter button*/

  /*dropdown list*/
  .dropdown{
    font-family: 'Space Grotesk', sans-serif;
  z-index: 2;
  color: #ffffff;
  cursor: default;
}

@media screen and (max-width: 601px) {
  .dropdown{
   display:none;
  }
}

.list{
  font-family: 'Space Grotesk', sans-serif;
  width: 20%;
  border-radius: 22px;
  border: none;
  color: #ffffff;
  padding: 7px;
  padding-left: 40px;
  padding-right: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 255); 
  background-color: #000000;
  stroke-width: 12px;
  z-index: 2;
  cursor: default;
}

@media screen and (max-width: 601px) {
  .list{
   display:none;
  }
}

/* @media screen and (max-width: 601px) {
  .section{
    height: 5vw;
  }
} */
  
  /*hamburger icon*/
  .mobile-container {
  max-width: 480px;
  margin: auto;
  z-index: 2;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color:none;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  margin: auto;
  font-size: 1rem;
  font-family: 'Space Grotesk', sans-serif;
}

.topnav a.icon {
  color: #000000;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: black;
}

.active {
  background-color: none;
  color: rgb(0, 0, 0);
  height: 2px;
  justify-content: center;
}

*{padding:0;margin:0;}
 
/*desktop carousel container*/
.container {
  position: relative;
  opacity: 100%;
  width: 320px;
  margin: 0 auto 0 auto;
  perspective: 1000px;
  rotate: 5deg;
  margin-top: 1vw;
  padding-top: 3vw;
 margin-bottom: 35vw;
}

@media screen and (max-width: 601px) {
  .container {
  display: none;
}
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 70s infinite linear;
}


/*desktop carousel individual boxes*/
.carousel__face { 
  position: absolute;
  border-radius: 15px;
  width: 310px;
  height: 160px;
  top: 10px;
  left: 0;
  right: 0;
  background-size: cover;
  display: flex;
}

.carousel__face:nth-child(1) {
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302537/original_40782efead47dd3e2bf8cebd48aa7752.jpg?1680976297?bc=0");
  transform: rotateY(  0deg) translateZ(430px);
  filter: invert();
}
  
.carousel__face:nth-child(2) { 
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302494/original_72c1c4e532efc277b3b32bcdd453252a.jpg?1680976143?bc=0");
    transform: rotateY( 40deg) translateZ(430px);
    filter:sepia(3);
}

.carousel__face:nth-child(3) {
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302346/original_2447712e5b49a076bb973382c1736f70.jpg?1680975054?bc=0");
  transform: rotateY( 80deg) translateZ(430px);
  filter:grayscale();
}

.carousel__face:nth-child(4) {
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302323/original_337112a03535b5c41173593ca0bb0758.jpg?1680974930?bc=0");
  transform: rotateY(120deg) translateZ(430px); 
  filter:grayscale();
}

.carousel__face:nth-child(5) { 
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302869/original_735ab8b6331deb02661cbd9b680e478c.jpg?1680978686?bc=0");
 transform: rotateY(160deg) translateZ(430px);
 filter:invert()
}

.carousel__face:nth-child(6) { 
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302878/original_6570784f03a3a4e2b549af329ac43b98.webp?1680978782?bc=0");
 transform: rotateY(200deg) translateZ(430px); 
 filter:sepia(3);
}

.carousel__face:nth-child(7) { 
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302888/original_115ac96528a12e8b8cd0b6fe62d87d5e.jpg?1680978858?bc=0");
 transform: rotateY(240deg) translateZ(430px); 
 filter:grayscale();
}

.carousel__face:nth-child(8) {
  background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(280deg) translateZ(430px); 
  filter:sepia(3);
}

.carousel__face:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(320deg) translateZ(430px);
  filter:grayscale();
}

/*earth rotation keyframes*/
@keyframes rotate360 {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/*mobile carousel container*/
.mobile-container {
 display: none;
}
@media screen and (max-width: 601px) {
  .mobile-container{
    position: relative;
  width: 20%;
  margin: -1;
  perspective: 2000px;
  rotate: 0deg;
  margin-top: -1vw;
  padding-top: 3vw;
  padding: 10%;
  display: flex;
  }
}

.mobile-carousel {
  position: absolute;
  width: 20%;
  height: 20%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}

/*mobile carousel individual boxes*/
.carousel__face_mobile { 
  position: absolute;
  border-radius: 15px;
  width: 200px;
  height: 180px;
  top: 10px;
  left: 45;
  right: 45;
  background-size: cover;
}

.carousel__face_mobile:nth-child(1) {
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302537/original_40782efead47dd3e2bf8cebd48aa7752.jpg?1680976297?bc=0");
  transform: rotateY(  0deg) translateZ(430px);
  filter: grayscale();
}
  
.carousel__face_mobile:nth-child(2) { 
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302494/original_72c1c4e532efc277b3b32bcdd453252a.jpg?1680976143?bc=0");
    transform: rotateY( 40deg) translateZ(430px);
    filter:sepia();
}

.carousel__face_mobile:nth-child(3) {
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302346/original_2447712e5b49a076bb973382c1736f70.jpg?1680975054?bc=0");
  transform: rotateY( 80deg) translateZ(430px);
  filter:grayscale();
}

.carousel__face_mobile:nth-child(4) {
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302323/original_337112a03535b5c41173593ca0bb0758.jpg?1680974930?bc=0");
  transform: rotateY(120deg) translateZ(430px); 
  filter:sepia();
}

.carousel__face_mobile:nth-child(5) { 
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302869/original_735ab8b6331deb02661cbd9b680e478c.jpg?1680978686?bc=0");
 transform: rotateY(160deg) translateZ(430px);
 filter:grayscale()
}

.carousel__face_mobile:nth-child(6) { 
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302878/original_6570784f03a3a4e2b549af329ac43b98.webp?1680978782?bc=0");
 transform: rotateY(200deg) translateZ(430px); 
 filter:sepia();
}

.carousel__face_mobile:nth-child(7) { 
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/21302888/original_115ac96528a12e8b8cd0b6fe62d87d5e.jpg?1680978858?bc=0");
 transform: rotateY(240deg) translateZ(430px); 
 filter:grayscale();
}

.carousel__face_mobile:nth-child(8) {
  background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(280deg) translateZ(430px); 
  filter:sepia();
}

.carousel__face_mobile:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(320deg) translateZ(430px);
  filter:grayscale();
}

/*earth rotation keyframes*/
@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/*background earth video top (no copyright)*/
video{
  z-index: -1;
  object-fit: cover;
  margin-top: -25vw;
  width: 80%;
  justify-content: center;
  padding-left: 9vw;
  align-items: center;
  display: flex;
  position:static;
  height: 100%;
  opacity: 90%;
  margin-bottom: -9vw;
}

/*background earth video bottom (no copyright)*/
.video2{
  z-index: -1;
  object-fit: cover;
  margin-top: -8vw;
  margin-bottom: -55vw;
  width: 90%;
  padding-left: 4.5vw;
  justify-content: center;
  position:static;
  height: 100%;
  opacity: 90%;
  margin-bottom: 1vw;
}

/*side banners*/
.rectangle {
  width: 1vw;
  height: 100%;
  background-color: #5faad2;
  color: #ffffff;
}

/*Click to enter button*/
.print{
  border-radius: 11px;
  letter-spacing: 3px;
  width: 5%;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3vw;
  background: #000000;
  color: #9ac3db;
  padding-left: 30px;
  padding-right: 30px;
  padding: 5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  height: 2.5vw;
  margin-top: -14vw;
}

@media screen and (max-width: 601px) {
  .print{
   justify-content: center;
   width: 60%;
  }
}

/*animal*/
.donkey {
  justify-content:left;
  height: 100%;
  width: 18vw;
}
@media screen and (max-width: 425px)and (min-width: 320px)  {
  .donkey{
    width: 33vw ;
    margin-top: -93vw;
    padding-bottom: 33vw;
  }
}
@media screen and (max-width: 601px)and (min-width: 426px)  {
  .donkey{
    width: 33vw ;
    margin-top: -88vw;
    padding-bottom: 33vw;
  }
}
@media screen and (max-width: 767px)and (min-width: 602px)  {
  .donkey{
    width: 28vw;
  }
}
@media screen and (max-width: 1023px)and (min-width: 768px)  {
  .donkey{
    width:23vw;
  }
}
@media screen and (max-width: 1880px)and (min-width: 1440px)  {
  .donkey{
    width:25vw;
  }
}
@media screen and (max-width: 1435px)and (min-width: 1024px)  {
  .donkey{
    width:23vw;
  }
}
@media screen and (max-width: 2560px)and (min-width: 1436px)  {
  .donkey{
    width:22vw;
  }
}

/*commenting animal media queries*/
/*2560 viewport*/
/* @media screen and (max-width: 2560px)and (min-width: 1600px) {
  .donkey {
  margin-top: -7vw;
  width: 23vw;
}
} */

/*1600 viewport*/
/* @media screen and (max-width: 1600px)and (min-width: 1440px) {
  .donkey {
  margin-top: -19vw;
  width: 15vw;
}
} */


/*1024 viewport*/
/* @media screen and (max-width: 1024px)and (min-width: 768px) {
  .donkey {
  margin-top: -30vw;
  width: 15vw;
}
} */

/*768 viewport*/
/* @media screen and (max-width: 768px)and (min-width: 616px) {
  .donkey {
  margin-top: -40vw;
  width: 15vw;
}
} */

/*616 viewport*/
/* @media screen and (max-width: 616px)and (min-width: 601px) {
  .donkey {
  margin-top: -60vw;
  width: 15vw;
}
} */

/*601 viewport*/
/* @media screen and (max-width: 601px)and (min-width: 448px) {
  .donkey {
  margin-top: -90vw;
  width:25vw;
}
} */

/*448 viewport*/
/* @media screen and (max-width: 448px)and (min-width: 320px) {
  .donkey {
  margin-top: -95vw;
  padding-left: 5vw;
  width:31vw;
}
} */

.donkey:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shoe {
  margin-top: -19vw;
  width: 40vw;
  height: 100%;
  justify-content: center;
  display: flex;
  margin-top: -30vw;
  padding-left: 30%;
  position: relative;
  transition: top 1s ease-out;
}

@media screen and (min-width: 601px) {
  .shoe {
  display: none;
}
}

.girl {
  width: 33vw;
  height: 100%;
  position: relative;
			left: 0;
			transition: left 0.5s, transform 0.5s;
}
.girl:hover {
  left: -70px;
}

@media screen and (max-width: 767px)and (min-width: 602px)  {
  .girl{
    width: 45vw;
  }
}
@media screen and (max-width: 1023px)and (min-width: 768px)  {
  .girl{
    width: 43vw;
  }
}
@media screen and (max-width: 1880px)and (min-width: 1440px)  {
  .girl{
    width:43vw;
  }
}
@media screen and (max-width: 1435px)and (min-width: 1024px)  {
  .girl{
    width:43vw;
  }
}
@media screen and (max-width: 2560px)and (min-width: 1436px)  {
  .girl{
    width:43vw;
  }
}

@media screen and (max-width: 601px) {
  .girl {
  display: none;
}
}


.line1 {
  border-left: 2px solid rgb(0, 0, 0);
  height: 100%;
  position: absolute;
  left: 3.5vw;
  top: 0;
  z-index: 2;
}
@media screen and (max-width: 601px) {
  .line1{
    border-left: 1px solid rgb(0, 0, 0);
  height: 100%;
  left: 7vw;
  position: absolute;
  top: 0;
  z-index: 2;
  }
}

.line2 {
  border-left: 2px solid rgb(0, 0, 0);
  height: 100%;
  position: absolute;
  right: 3.5vw;
  top: 0;
  z-index: 2;
}
@media screen and (max-width: 601px) {
  .line2{
    border-left: 1px solid rgb(0, 0, 0);
  height: 100%;
  right: 7vw;
  position: absolute;
  top: 0;
  z-index: 2;
  }
}

.p1 {
  color: #000000;
  margin-top: 2vw;
  font-family: 'Manrope', sans-serif;
  padding-left: 0.8vw;
  writing-mode: vertical-lr;
  letter-spacing: 3px;
}
@media screen and (max-width: 601px) {
  .p1{
    display: none;
  }
}

.p2 {
  color: #000000;
  margin-top: -13vw;
  font-family: 'Manrope', sans-serif;
  padding-left:98vw;
  writing-mode: vertical-lr;
  letter-spacing: 3px;
}
@media screen and (max-width: 601px) {
  .p2{
    display: none;
  }
}

   /*logo*/
   .peach {
    width: 2vw;
    height: 2vw;
    padding-left: 9px;
    padding-top: 2vw;
    position: -webkit-sticky; /* Safari */
    position: sticky;
  }
@media screen and (max-width: 601px) {
.peach {
  width: 7vw;
  margin-top: -3vw;
  display: flex;
  padding-left: 47%;
height: 7vw;
padding-top:6vw;
justify-content: center;
}
}


top-margin {
  width: 100%;
}
@media screen and (min-width: 601px) {
  .top-margin {
    display: none;
}
}

.phase {
  display: flex;
  justify-content: center;
  height: 100%;
}
@media screen and (max-width: 1880px)and (min-width: 1440px)  {
  .phase{
    margin-top: -19vw;
  }
}
@media screen and (max-width: 1435px)and (min-width: 1024px)  {
  .phase{
    margin-top: -25vw;
  }
}
@media screen and (max-width: 1023px)and (min-width: 768px)  {
  .phase{
    margin-top: -33vw;
  }
}
@media screen and (max-width: 767px)and (min-width: 602px)  {
  .phase{
    margin-top: -44vw;
  }
}

.p3 {
  color: #000000;
  margin-top: 13vw;
  font-family: 'Manrope', sans-serif;
  padding-left: 0.8vw;
  font-size: 3vw;
  writing-mode: vertical-lr;
  letter-spacing: 3px;
}
@media screen and (min-width: 601px) {
  .p3{
    display: none;
  }
}

.p4 {
  color: #000000;
  margin-top: -80vw;
  font-family: 'Manrope', sans-serif;
  right: 1vw;
  font-size: 3vw;
  position: absolute;
  writing-mode: vertical-lr;
  letter-spacing: 3px;
  padding-right: 0.5vw;
}
@media screen and (min-width: 601px) {
  .p4{
    display: none;
  }
}

